The goal this week is to pratice using Markdown to write descriptive text in notebooks and then look at Python data structures including the pandas module that supports data structures designed for handling the kind of data we'll be working with.  

There is probably too much work to complete here in the workshop session, but please use this notebook after the workshop to practice your Python.  Remember to commit your changes to git as you go and push back to Github when you are done.

In [1]:
student_name = "Shahir Wakili"
student_id = "47397799"

# Markdown Practice

Complete this section as per the instructions in the iLearn practical page.  Add the required cells below this one.

# *Practising*
**Prac bold**

*Italic*

***Bold and Itallic***

In [2]:
<img src="https://git-scm.com/images/logos/downloads/Git-Logo-2Color.png." width="200" height="100">

SyntaxError: invalid syntax (3830315206.py, line 1)

$sqrt(a)$

## Lists and Dictionaries

First we look at some built in Python data structures: lists and dictionaries. 

A list is a sequence of things, unlike strongly typed languages (Java, C#) a list can contain a mixture of different types - there is no type for a list of integers or a list of lists.   Here are some lists:

In [3]:
ages = [12, 99, 51, 3, 55]
names = ['steve', 'jim', 'mary', 'carrie', 'zin']
stuff = [12, 'eighteen', 6, ['another', 'list']]

1. write code to print the first and third elements of each list
2. write code to select and print everything except the first element of each list
3. write a for loop that prints each element of the 'names' list

In [4]:
ages = [12, 99, 51, 3, 55]
names = ['steve', 'jim', 'mary', 'carrie', 'zin']
stuff = [12, 'eighteen', 6, ['another', 'list']]
print(ages[0], ages[2])
print(names[0], names[2])
print(stuff[0], stuff[2])

ages[1:]
names[1:]
stuff[1:]

for n in names:
    print(n)

12 51
steve mary
12 6
steve
jim
mary
carrie
zin

A dictionary is an associative array - it associates a value (any Python data type) with a key. The key is usually a string but can be any immutable type (string, number, tuple).  Here's some code that counts the occurence of words in a string.  It stores the count for each word in a dictionary using the word as a key. If the word is already stored in the dictionary, it adds one to the count, if not, it initialises the count to one.  

The second for loop iterates over the keys in the dictionary and prints one line per entry.

Modify this example to be a bit smarter:
- make sure that punctuation characters are not included as parts of a word, be careful with hyphens - should they be included or not?
- make the count use the lowercase version of a word, so that 'The' and 'the' are counted as the same word
- **Challenge**: find the first and second most frequent words in the text
- **Challenge**: take your code and write it as a function that takes a string and returns a list of words with their counts in order

In [5]:
description = """This unit introduces students to the fundamental techniques and 
tools of data science, such as the graphical display of data, 
predictive models, evaluation methodologies, regression, 
classification and clustering. The unit provides practical 
experience applying these methods using industry-standard 
software tools to real-world data sets. Students who have 
completed this unit will be able to identify which data 
science methods are most appropriate for a real-world data 
set, apply these methods to the data set, and interpret the 
results of the analysis they have performed. """

count = dict()
for word in description.split():
    if word in count:
        count[word] += 1
    else:
        count[word] = 1
        
for word in count:
    print(word, count[word])

This 1
unit 3
introduces 1
students 1
to 4
the 5
fundamental 1
techniques 1
and 3
tools 2
of 3
data 5
science, 1
such 1
as 1
graphical 1
display 1
data, 1
predictive 1
models, 1
evaluation 1
methodologies, 1
regression, 1
classification 1
clustering. 1
The 1
provides 1
practical 1
experience 1
applying 1
these 2
methods 3
using 1
industry-standard 1
software 1
real-world 2
sets. 1
Students 1
who 1
have 2
completed 1
this 1
will 1
be 1
able 1
identify 1
which 1
science 1
are 1
most 1
appropriate 1
for 1
a 1
set, 2
apply 1
interpret 1
results 1
analysis 1
they 1
performed. 1

In [6]:
def list_of_words(t):
    count = dict()
    for word in description.split():
        if word in count:
            count[word] += 1
        else:
            count[word] = 1
    for word in count:
        print(word, count[word])

In [7]:
list_of_words("Week 2 data")

This 1
unit 3
introduces 1
students 1
to 4
the 5
fundamental 1
techniques 1
and 3
tools 2
of 3
data 5
science, 1
such 1
as 1
graphical 1
display 1
data, 1
predictive 1
models, 1
evaluation 1
methodologies, 1
regression, 1
classification 1
clustering. 1
The 1
provides 1
practical 1
experience 1
applying 1
these 2
methods 3
using 1
industry-standard 1
software 1
real-world 2
sets. 1
Students 1
who 1
have 2
completed 1
this 1
will 1
be 1
able 1
identify 1
which 1
science 1
are 1
most 1
appropriate 1
for 1
a 1
set, 2
apply 1
interpret 1
results 1
analysis 1
they 1
performed. 1

In [8]:
import re
desc = re.sub(r'[^\s\w]', '', description)
print(desc)

This unit introduces students to the fundamental techniques and
tools of data science such as the graphical display of data
predictive models evaluation methodologies regression
classification and clustering The unit provides practical
experience applying these methods using industrystandard
software tools to realworld data sets Students who have
completed this unit will be able to identify which data
science methods are most appropriate for a realworld data
set apply these methods to the data set and interpret the
results of the analysis they have performed

In [9]:
desc = desc.lower()
print(desc)

this unit introduces students to the fundamental techniques and
tools of data science such as the graphical display of data
predictive models evaluation methodologies regression
classification and clustering the unit provides practical
experience applying these methods using industrystandard
software tools to realworld data sets students who have
completed this unit will be able to identify which data
science methods are most appropriate for a realworld data
set apply these methods to the data set and interpret the
results of the analysis they have performed

In [10]:
from collections import Counter, OrderedDict
c= Counter(desc.split())
print(c)

Counter({'the': 6, 'data': 6, 'to': 4, 'unit': 3, 'and': 3, 'of': 3, 'methods': 3, 'this': 2, 'students': 2, 'tools': 2, 'science': 2, 'these': 2, 'realworld': 2, 'have': 2, 'set': 2, 'introduces': 1, 'fundamental': 1, 'techniques': 1, 'such': 1, 'as': 1, 'graphical': 1, 'display': 1, 'predictive': 1, 'models': 1, 'evaluation': 1, 'methodologies': 1, 'regression': 1, 'classification': 1, 'clustering': 1, 'provides': 1, 'practical': 1, 'experience': 1, 'applying': 1, 'using': 1, 'industrystandard': 1, 'software': 1, 'sets': 1, 'who': 1, 'completed': 1, 'will': 1, 'be': 1, 'able': 1, 'identify': 1, 'which': 1, 'are': 1, 'most': 1, 'appropriate': 1, 'for': 1, 'a': 1, 'apply': 1, 'interpret': 1, 'results': 1, 'analysis': 1, 'they': 1, 'performed': 1})

In [11]:
print(c.most_common(2))

[('the', 6), ('data', 6)]

## Pandas Data Frames

[Pandas](https://pandas.pydata.org) is a Python module that provides some important data structures for Data Science work and a large collection of methods for data analysis. 

The two main data structures are the [Series]() and [DataFrame](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe).  

A Series is a one dimensional array of data, but unlike the Python list the data is indexed - the index is like the dictionary key, any immutable value like a number or string.  You can use the label to select elements from the series as well as positional values.  

A DataFrame is analogous to a spreadsheet - a two dimensional table of data with indexed rows and named columns. 

You should read up on these and follow the examples in the text.  Here are a few exercises to complete with data frames.

You are given three csv files containing sample data.

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

ds1 = 'data/ds1.csv'
ds2 = 'data/ds2.csv'
ds3 = 'data/ds3.csv'

Write code below to read one of these data files into a pandas data frame and:
- show the first few rows: .head
- find the summary data for each column: .describe
- select just those rows where the value of x and y is over 50
- select the column 'x' and create a series
- plot the 'x' series as a line graph
- plot the dataframe as a scatterplot

Once you have the code for this, you can change the file you use for input of the data (ds2, ds3) and re-run the following cells to see the different output that is generated

In [14]:
df1 = pd.read_csv(ds1)
df2 = pd.read_csv(ds2)
df3 = pd.read_csv(ds3)
print(df1.shape)
print(df2.shape)
print(df3.shape)

(142, 2)
(142, 2)
(142, 2)

In [15]:
df1.describe()

                x           y
count  142.000000  142.000000
mean    54.263273   47.832253
std     16.765142   26.935403
min     22.307700    2.948700
25%     44.102600   25.288450
50%     53.333300   46.025600
75%     64.743600   68.525675
max     98.205100   99.487200

In [16]:
x50 = df1['x'] > 50
y50 = df1['y'] > 50
newdf1 = df1[x50 & y50]

print(newdf1.shape)
print(newf1)

(33, 2)

NameError: name 'newf1' is not defined

In [ ]:
frst_col.plot(kind = 'line')

In [ ]:
df1.plot.scatter(x = 'x', y = 'y', s = 10, c = 'Black')

In [ ]:
df2.plot.scatter(x = 'x', y = 'y', s = 10, c = 'Black')

In [ ]:
df3.plot.scatter(x = 'x', y = 'y', s = 10, c = 'Black')

## Checkpoint

Congratulations! you have finished the required task for Week 2. Since you got this empty (without your code and output) notebook by downloading from iLearn, place this notebook (Workshop Week 2.ipynb) into your local copy of your Github repository (e.g. practical-workshops-sonitsingh)and commit your work with a suitable commit message and push your changes back to your Github repository. Show your tutor your updated Github repository to get your checkpoint mark.

# Further Practice

If you finish this task you can practice more with pandas data frames by following the examples in the text, section 2.6.  The CSV file that they use in that section is available in the `files` directory of this repository as `educ_figdp_1_Data.csv`.

In [ ]:
edufile = 'files/educ_figdp_1_Data.csv'